@media (max-width: 420px) {
  .main {
    height: 100vh !important;
  }
  .particle-container {
    height: 100% !important;
    display: none !important;
  }
}

.settingToggle {
  transform: rotate(90deg);
  left: 100%;
  position: absolute;
  margin-left: 10px;
  top: 19px;
  color: rgb(42, 164, 227);
  cursor: pointer;
  text-decoration: underline;
}

.wrapper {
  overflow: hidden;
}

.main {
  animation-name: slideInLeft;
  animation-duration: 0.6s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 700px;
  animation-timing-function: ease-in-out;
  box-shadow: inset 0px -7px 33px 0px rgba(0, 0, 0, 0.101);
  overflow: hidden;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-80%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.topCurrency,
.button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background: rgba(158, 201, 249, 0.32);
  }
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  padding: 0 10px;
  margin: 0 10px;
  &:hover {
    text-decoration: none;
  }
}

.topCurrency {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 120, 255, 0.32);
  color: #fff;
  padding: 4px;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  .col {
    display: flex;
  }
}

.button,
.cancel-button {
  display: flex;
  background: no-repeat;
  border: none;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.particle {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px #fff;
  &-container {
    height: 700px;
    position: absolute;
    width: 100%;
    top: 0;
  }
}

@for $i from 1 through 10 {
  @keyframes particle-animation-#{$i} {
    0% {
      opacity: 0;
    }
    100% {
      opacity: random(6) * 0.1;
      transform: translate3d(
        (random(70) * 19px),
        (random(40) * 10px),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 30s infinite;
    $size: random(30) + 1 + px;
    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(70) * 10px),
      (random(70) * 10px),
      (random(100) * 1px)
    );
    background: #fff;
  }
}
